[submodule "ROS-TCP-Endpoint"]
	path = ROS-TCP-Endpoint
	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint.git
	branch = main-ros2
[submodule "multidomain_sim_binaries"]
	path = multidomain_sim_binaries
	url = http://158.130.118.32:8929/odexter/multidomain_sim_binaries.git
